.headpad {
  width: 100%;
  background-color: #1f2222;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}
.headpad-header {
  width: 100%;
}
.headpad-title {
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem 1rem;
}